*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.container{
	width: 1920px;
	height: 280px;
	background: #EEEFF1;
	display: block;
}
.logotype{
	width: 44%;
	height: 120px;
	float: left;
	
}
.logotip{
	width: 96px;
	height: 60px;
	float: right;
	margin-top: 57px;
	margin-right: 356px;
}
.navigat{
	float:right;
	width: 56%;

}
.nav{
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
	}

.nav li { 
   float: left;
   margin-top: 79px;
 }

.nav_link{
	display: block;
	width: 110px;
	padding:0 11px 10px 11px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-decoration: none;
	color:#34547A;
		
}
.nav_link:hover{
	font-weight: 500;
	font-size: 16px;
}
.container_2{
	width: 1920px;
	height: 420px;
	background: #EEEFF1;
	display: block;	
}

.frame_img_div{
width: 50%;
float: left;
background: #EEEFF1;
}
.frame_img{
width: 328.4px;
height: 225.4px;

margin-left: 487px;
}
.frame_text{
	width: 50%;
	float: right;
	display: block;
	background: #EEEFF1;
}
.frame_1{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	padding-bottom: 60px;	
}
.frame_2{
width: 540px;
height: 67px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #727272

}
.btn_1{
	margin-top: 60px;
	width: 225px;
	height: 65px;
	background: #34547A;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	cursor: pointer;
	opacity: 0.7;
}
.btn_1:hover{
opacity: 1;
}
.container_3{
	width: 1920px;
	height: 616px;
}
.about_me{
	width: 100%;
	height: 366px;
	text-align: center
}
h2{
	padding-top: 119px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
}
.about_me_info{
	padding-top: 50px;
	display: inline-block;
	width: 540px;
	height: 67px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #727272;
}
.container_4{
width: 1920px;
height: 653px; 	
}
.my_skills{
	width: 50%; 
	float: left;
	text-align: center;

}
.i_can{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
	border-bottom: 4px solid #34547A;
	display: inline-block;
	width: 445px;
	padding: 20px 150px 20px 0;
	margin-left: 387px;

}
.my_foto{
	width: 50%;
	float: right;
}
.my_img{
	width: 555px;
	height: 450px;
	margin: 102px 384px 101px 0;
}
.a1{
	text-align: left;
}
.container_5{
	width: 1920px;
	height: 1004px;
	background: #EEEFF1;
	text-align: center;
}
.my_job{
	display: inline-block;
	margin: 0px 0 57px 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	width: 540px;
	height: 67px;
	color: #727272;

}
.video{
	text-align: center;
	height: 600px;
	width: 1110px;
}
	
.container_6{
	margin-top: 25px;
	width: 1920px;
	height: 985px;
	
}
.img_job{
	float: left;
	width: 25%;
}
.work{
	width: 480px;
	height: 480px;
}
.work:hover{
	opacity: 0.2;
}
.img_job:hover{
	background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
}
.container_7{
	width: 1920px;
	height: 292px;
}
.micros{
	text-align: center;
}
.rectangle{
margin: 52px 0 100px 0;
height: 120px;
width: 255px;
padding: 0 30px 0 0;
}
.container_8{
	width: 1920px;
	height: 762px;
	background: #EEEFF1;
	text-align: center;
}
.feedback{
	margin-top: 65px;
}
.in_1{
width:  255px;
height: 50px;
margin-right:30px; 

}
.in_2{
width:  255px;
height: 50px;	
}
.in_3{
	margin-top: 20px;
	width: 540px;
	height: 175px;
}